<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Scrollingcalendar example</title>
  <link rel="stylesheet" href="calendar.css">
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/1.4.1/css/ionicons.min.css">
</head>
<body ng-app="scrollingCalendarExample">
  <div ng-controller="ExampleCtrl">
    <div>
      <button ng-click="calInterface.scrollToNextMonth()">Next</button>
      <button ng-click="calInterface.scrollToToday()">Today</button>
      <button ng-click="calInterface.scrollToPrevMonth()">Prev</button>
    </div>
    <div style="height:500px;width:100%;overflow-y:scroll">
      <table calendar cal-data="getData($firstDate, $lastDate)" cal-drop="calDrop($item, $targetDay, $originDay)" cal-entry-click="entryClick($item)" cal-day-click="dayClick($day)" cal-day-template="day.html" cal-date-key="dateBegin" current-month="currentMonth" current-year="currentYear" cal-interface="calInterface" cal-seed-date="seedDate" cal-first-day="1"></table>
    </div>
    <div>{{ currentMonth }}</div>
    <div>{{ currentYear }}</div>
  </div>
  

  <script src="../bower_components/angular/angular.js" type="text/javascript"></script>
  <script src="example.js" type="text/javascript"></script>
  <script src="../dist/calendar.js" type="text/javascript"></script>
</body>
</html>